@media (max-width: 600px) {
	.nav-ul {
		display: none;
	}
	.block2 {
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.sec1 {
		height: auto;
	}
	.banner {
		width: 100%;
	}
	.wavebutton {
	width: 233px;
	height: 46px;
}
.texts {
	width: 100%;
}
.texsts {
	text-align: center;
	margin: 0 auto;
}
