/*header styles*/
.header {
	display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    padding-top: 67px;
}
.nav-ul {
	display: flex;
	margin-top: 30px;
	text-transform: uppercase;
	margin-right: 287px;
	color: #3D37F1;
	font-size: 20px;
	font-family: 'Lato', sans-serif;

}
.logo {
	margin-left: 132px;
	height: 39px;
}
.nav-li {
	margin-left: 50px;
}

/*sec 1 styles*/
.sec1 {
	display: flex;
	width: 1920px;
	height: 1100px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
}
.wavebutton {
	display: flex;
	width: 263px;
	height: 76px;
	background-color: #3D37F1;
	border-radius: 38px;
	justify-content: center;
	align-items: center;
}
.text1 {
	font-size: 78px;
	width: 600px;
	font-family: 'Lato', sans-serif;
	color: #534D4D;
}
.text2 {
	font-size: 22px;
	width: 600px;
	margin-top: 42px;
	margin-bottom: 106px;
	font-family: 'Roboto', sans-serif;
}
.hand {
	width: 14px;
	height: 22px;
	margin-right: 20px;
}
.wave {
	color: #FFFFFF;
	font-size: 23px;
	font-family: 'Roboto', sans-serif;
}
/*section 2 styles*/
.line1 {
	display: flex;
	justify-content: space-between;
}
.line2 {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
}
.sec2{
    width: 1185px;
    margin: 0 auto;
}
.block1 {
	width: 370px;
	height: 451px;
	background-color: #FBBA77;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.block2 {
	width: 370px;
	height: 451px;
	background-color: #41EAE3;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.block3 {
	width: 370px;
	height: 451px;
	background-color: #69529F;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.block4 {
	width: 370px;
	height: 451px;
	background-color: #4386D2;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.block5 {
	width: 370px;
	height: 451px;
	background-color: #A5A2F6;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.block6 {
	width: 370px;
	height: 451px;
	background-color: #FF8088;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.icon {
	width: 131px;
	height: 45px;
	border-radius: 23px;
	border: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
.text {
	width: 280px;
	text-align: center;
	margin-top: 13px;
	margin-bottom: 15px;
}
.h3 {
	margin-top: 60px;
}
